.top-bar{
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar span{
    padding-top: 5px;
}
.bar-left{
    padding-top: 5px;
    padding-left: 5px;
}
.bar-right{
    padding-top: 7px;
    font-size: 13px;
    padding-right: 5px;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav img{
    height: 70px;
    /* width: 293px; */
}
nav a{
    text-decoration: none;
    color: black;
    padding-right: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
nav .menu{
    padding-top: 40px;

}
#home{
    background-image: url("./assets/main.png");
    background-size: cover;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#homecontent{
   width: 325px;
   margin-top:100px;
}
#homecontent button{
    background-color: rgb(75, 188, 151);
}
#appointment{
    margin-top: -100px;
    padding: 30px;
    border-radius: 10px;
}
#appointment button{
    background-color: rgb(75, 188, 151);
}
#appointment input,#appointment select,#appointment button{
    width: 100%;
    color: grey;
    font-size: 13px;
    padding: 10px;
}
#department .card{
    padding: 5px;
    border: none;
}
#department .card a{
    color: rgb(75, 188, 151);
}
#department h6, p, a{
    margin-left: 3px;
}
#WhyGG{
    background-color: rgb(218, 233, 246);
    display: flex;
    /* width: fit-content; */
}
#WhyImage {
    margin-left: 50px;
    margin-top: 45px;
}
#why-ul {
    margin-top: 60px;
    margin-left: -250px;
    padding-bottom: 45px;
}
.why-li {
    margin-top: 40px;
    list-style: none;
}
#specialists{
    margin-top: 150px;
}
#specialists .card{
    border: none;
    border-radius: 0;
}
#specialists .card img{
    border-radius: 0;
    margin-bottom: 20px;
}
#specialists button{
    background-color: rgb(75, 188, 151);
    color: white;
}
#facilities{
    margin-top: 100px;
}
#facilities img{
    width: 100%;
}
 
#interested{
    margin-top: 100px;
}
#interested .card{
    border: none;
}
#interested .card a{
    color: rgb(75, 188, 151);
    text-decoration: none;
}
#interested h6, p{
    margin-left:6px;
}
#subscribe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-top: -300px;
    border-radius: 12px;
    height: 200px;
    

}
#subscribe .col1{
    padding-top: 60px;
    padding-left: 50px;
    background-size: cover;
    background-image: url("./assets/Footer/footer.png");
}
#subscribe .col2{
    padding-top: 60px;
    padding-left: 140px;
}
#subscribe .col2 input{
    border: none;
    width: 60%;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
#subscribe .col2 button{
    background-color: rgb(75, 188, 151);
    color: white;
}
#bg{
    background-color: #eaf2ff;
    height: 700px;
    margin-top: -250px;

}
footer{
    margin-top: 200px;
    font-family: sans-serif;
    font-size: 13px;
}
footer .row1{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
footer .row1 .column1{
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
}
footer .row1 .column1 img{
    width: 50%;
}
footer .row1 .column2{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 10px;
}
footer .row1 .column2 .aboutgg{
    grid-column: span 2;
}
footer .row2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
footer .row2 .column-icon{
    display: grid;
    grid-template-columns: auto auto;
}